.worldbuilding {
  --color-scrollbar: #32471B;
  --color-underline-header: #32471B;
  --color-text-dark-primary: #121A0A;
  --color-text-dark-secondary: #A4AD83;
  --color-border-light-primary: #DFD99B;
  --color-border-light-secondary: #C2B97A;
  --color-border-light-tertiary: #C8D4A0;
  --color-shadow-primary: #32471B;
  /* Sheet Tabs */
  /* Notes */
}
.worldbuilding .window-content {
  padding: 5px;
  overflow-y: hidden;
  background-image: none !important;
  background-color: #648E35 !important;
  font-family: cursive;
}
.worldbuilding form {
  height: 100%;
}
.worldbuilding .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.worldbuilding .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.worldbuilding .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.worldbuilding .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.worldbuilding .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.worldbuilding .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.worldbuilding .resource input {
  width: 100px;
  height: 28px;
}
.worldbuilding .tabs {
  flex: 0 0 40px;
  font-size: large;
  border-top: none !important;
  background-color: #648E35;
}
.worldbuilding .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.worldbuilding .tabs .item.active {
  background-color: var(--color-border-light-primary);
}
.worldbuilding .sheet-body {
  overflow: hidden;
}
.worldbuilding .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.worldbuilding .sheet-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.worldbuilding .sheet-body ul li {
  margin-bottom: 5px;
}
.worldbuilding .sheet-body table td {
  text-align: center;
  vertical-align: middle;
}
.worldbuilding .sheet-body table tr:nth-child(even) {
  background-color: inherit;
}
.worldbuilding .sheet-body fieldset {
  border: none;
  display: flex;
}
.worldbuilding .editor,
.worldbuilding .editor-content {
  height: 100%;
}
.worldbuilding .notes {
  position: relative;
}
.worldbuilding .notes .attribute-control,
.worldbuilding .notes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.worldbuilding .notes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.worldbuilding .notes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.worldbuilding .notes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.worldbuilding .notes .attribute-key {
  background: transparent;
  border: none;
}
.worldbuilding .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}
.worldbuilding .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.worldbuilding .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.worldbuilding .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.worldbuilding .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}
.worldbuilding .attribute input[type="text"]::placeholder,
.worldbuilding .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.worldbuilding .attribute input[type="text"]:focus::placeholder,
.worldbuilding .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}
.worldbuilding .group-controls {
  margin: 5px;
}
.worldbuilding .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.worldbuilding .group {
  margin: 5px 0 0;
  padding: 0;
}
.worldbuilding .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.worldbuilding .group-key,
.worldbuilding .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.worldbuilding .group-key {
  opacity: 0.75;
}
.worldbuilding .group-label {
  flex: 2;
}
.worldbuilding .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.worldbuilding.sheet.actor {
  min-width: 560px;
  min-height: 850px;
}
