<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <button type="button" id="roll-d6"><i class="fa-solid fa-dice"></i>{{ localize "SIMPLE.RollD6" }}</button>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">{{ localize "SIMPLE.Details" }}</a>
        <a class="item" data-tab="rules">{{ localize "SIMPLE.Rules" }}</a>
        <a class="item" data-tab="notes">{{ localize "SIMPLE.Notes" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div>
                <div>
                    <h2>{{ localize "SIMPLE.Traits" }}</h2>
                    <ul>
                        <li><input name="system.traits.personality" type="text" value="{{systemData.traits.personality}}" placeholder="{{localize "SIMPLE.TraitPersonality"}}" /></li>
                        <li><input name="system.traits.school" type="text" value="{{systemData.traits.school}}" placeholder="{{localize "SIMPLE.TraitSchool"}}" /></li>
                        <li><input name="system.traits.hobby" type="text" value="{{systemData.traits.hobby}}" placeholder="{{localize "SIMPLE.TraitHobby"}}" /></li>
                    </ul>
                </div>
                <div class="equipments">
                    <h2>{{ localize "SIMPLE.Equipments" }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ localize "SIMPLE.EquipmentName" }}</th>
                                <th>{{ localize "SIMPLE.EquipmentFromTheMall" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input name="system.equipments.equip1.name" type="text" value="{{systemData.equipments.equip1.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip1.fromTheMall" type="checkbox" {{#if systemData.equipments.equip1.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input name="system.equipments.equip2.name" type="text" value="{{systemData.equipments.equip2.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip2.fromTheMall" type="checkbox" {{#if systemData.equipments.equip2.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input name="system.equipments.equip3.name" type="text" value="{{systemData.equipments.equip3.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip3.fromTheMall" type="checkbox" {{#if systemData.equipments.equip3.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><input name="system.equipments.equip4.name" type="text" value="{{systemData.equipments.equip4.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip4.fromTheMall" type="checkbox" {{#if systemData.equipments.equip4.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><input name="system.equipments.equip5.name" type="text" value="{{systemData.equipments.equip5.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip5.fromTheMall" type="checkbox" {{#if systemData.equipments.equip5.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><input name="system.equipments.equip6.name" type="text" value="{{systemData.equipments.equip6.name}}" placeholder="{{localize "SIMPLE.Equipment"}}" /></td>
                                <td><input name="system.equipments.equip6.fromTheMall" type="checkbox" {{#if systemData.equipments.equip6.fromTheMall}}checked{{/if}} /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div>
                <h2>{{ localize "SIMPLE.Harms" }}</h2>
                <fieldset>
                    <legend>{{ localize "SIMPLE.HarmLesser" }}</legend>
                    <input name="system.harms.lesser.first" type="text" value="{{systemData.harms.lesser.first}}" placeholder="" />
                    <input name="system.harms.lesser.second" type="text" value="{{systemData.harms.lesser.second}}" placeholder="" />
                </fieldset>
                <fieldset>
                    <legend>{{ localize "SIMPLE.HarmModerate" }}</legend>
                    <input name="system.harms.moderate.first" type="text" value="{{systemData.harms.moderate.first}}" placeholder="" />
                    <input name="system.harms.moderate.second" type="text" value="{{systemData.harms.moderate.second}}" placeholder="" />
                </fieldset>
                <fieldset>
                    <legend>{{ localize "SIMPLE.HarmSevere" }}</legend>
                    <input name="system.harms.severe" type="text" value="{{systemData.harms.severe}}" placeholder="" />
                </fieldset>
            </div>
        </div>

        {{!-- Rules Tab --}}
        <div class="tab rules" data-group="primary" data-tab="rules">
            <p><b>{{ localize "SIMPLE.Rule.ActionRollTitle" }}</b> {{ localize "SIMPLE.Rule.ActionRoll" }}</p>
            <p><b>{{ localize "SIMPLE.Rule.RemoveDieTitle" }}</b> {{ localize "SIMPLE.Rule.RemoveDie" }}</p>
            <p><b>{{ localize "SIMPLE.Rule.EquipmentTitle" }}</b> {{ localize "SIMPLE.Rule.Equipment" }}</p>
            <p><b>{{ localize "SIMPLE.Rule.ObjectFromTheMallTitle" }}</b> {{ localize "SIMPLE.Rule.ObjectFromTheMall" }}</p>
            <p><b>{{ localize "SIMPLE.Rule.ZeroOrNegativeDiceTitle" }}</b> {{ localize "SIMPLE.Rule.ZeroOrNegativeDice" }}</p>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab notes" data-group="primary" data-tab="notes">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div> 
    </section>
</form>
